useDynLib(BartMixVs, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
export(wbart, mc.wbart, pwbart, mc.pwbart)
export(pbart, mc.pbart)
export(mc.cores.openmp)
export(bartModelMatrix)
export(permute.vs, mc.permute.vs, median.inclusion.vs, mc.backward.vs, abc.vs, mc.abc.vs)
export(Friedman, Checkerboard, Linear, Tree, MixOne, MixTwo)
S3method(predict, wbart)
S3method(predict, pbart)

importFrom(nnet, class.ind)
importFrom(Rcpp, evalCpp)
importFrom(parallel, detectCores)
importFrom(stats, ar, cor, dbinom, dnorm, lm, predict, pnorm, qnorm, qchisq, plogis, qlogis, quantile, residuals, runif, sd, coef, vcov)
importFrom(tools, psnice)
importFrom(nlme, lme)
importFrom(mvtnorm, rmvnorm)
importFrom(loo, loo, relative_eff)